// Place all the styles related to the DigitalObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#digital-object-editor {
  
  hr {
    margin-top:10px;
    margin-bottom:10px;
  }

  .digital-object-editor-header {
    .form-group {
      margin-bottom:0px;
    }

    .digital-object-summary {
      word-wrap: break-word;
    }

    .thumbnail {
      margin: 0 auto .2em;
    }

    .child-digital-object-preview {
      table  {
        width:100%;
      }
      .preview-heading {
        font-size: 13px;
        margin:.5em .5em 1em;
        padding-bottom:.75em;
        border-bottom:1px solid #ddd;
      }
    }
  }
  
  .dynamic_field_group .dynamic_field_group {
    margin: 0 .4em;
  }

  .editor-form-header {
    margin:.5em 0;
  }

  .editor-form > .dynamic_field_group_content {
    border:0;
    padding:0;
  }

  .editor-form {
    .form-navigation-dropup {
      position:fixed;
      right:20px;
      bottom:20px;
      z-index:999;
    }

  }
  
  .editor-form {
    .dynamic_field_group .field-label {
      font-size:13px;
    }
  }
  
  .editor-form.edit {
    .dynamic_field_group .field-label {
      position:relative;
      top:6px;
    }
  }
  
  .dynamic_field_group_display_label {
    border:1px solid #ddd;
    padding:.25em;
    margin-top:.25em;
    font-size:13px;
    background:#eee;
  }
  
  .dynamic_field_group_display_label:hover {
    background:#d2d2d2;
    border-color:#bbb;
  }
  
  .dynamic_field_group_content {
    padding:5px 2px;
    border:solid #eee;
    border-width:0px 2px 2px 2px;
  }
  
  .dynamic_field {
    padding:0 .25em;
  }
  
  .editor-form.show {
    .dynamic_field {
      padding-top:1px;
      padding-bottom:1px;
    }
  }
  
  .dynamic_field_group {
  
    input[type="text"].form-control,
    .controlled-term-pill-box {
      height:26px;
      border-color:#ccc;
      margin:1px 0px;
    }
    input[type="text"].form-control {
      padding:6px;
    }
    .controlled-term-pill-box {
      padding:1px;
    }
    
    .controlled-term-pill-box button {
      padding-top:2px;
      padding-bottom:0px;
    }
    
    .controlled-term-pill-box .controlled_term_clear_button {
      height:17px;
      font-size:11px;
      padding:0px 2px;
    }
    
  }
  
  .field-management-buttons {
    float:right;
    margin-top:-1px;
    
    .btn {
      height:19px;
      padding:1px 3px;
      font-size:11px;
    }
    
  }
  .readonly-display-value {
    font-size:13px;
  }
  
  .identifiers .input-group {
    margin-bottom:2px;
    
    .btn.btn-xs {
      padding:2px 5px;
    }
    
    input[type="text"].form-control {
      height:24px;
      padding:2px 4px;
    }
  }
}


.authorized_term_selector {

  .add_new_authorized_term {
    margin-bottom:1em;
  }

  .authorized_term_search_q {
      margin-bottom:1em;
    }

  .authorized_term_search_results {

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

  .authorized_term_adder {
    ul.errors {
      margin:0;
      padding-left:1em;
    }
  }
}

/**********
 * SEARCH *
 **********/

.result-count-and-sort-options {
  background-color: #f5f5f5;
  border:1px solid #eee;
  padding:.5em .5em .5em 1em;
  margin-bottom:1.5em;
}

.digital-object-search {

  .query-constraints {
    margin-bottom:1.5em;
  }

  .facets {

    .facet-heading {
      margin-top:0px;
      padding:0 0 .4em 0;
      border-bottom:1px solid #ddd;
      margin-bottom:.2em;
    }

    .facet-group {

      border-bottom:1px solid #ddd;
      padding:.25em 0 .35em;
      margin:.25em 0;

      .facet-group-heading a {
        font-weight:bold;
        font-weight:500;
        color:#222;

        .facet-display-label {
          display:inline-block;
          margin:2px 0px;
        }

      }

      .facet-value-list {
        font-size:.9em;
        padding:1em 0;

        .count {
          margin-right:3px;
        }

        .show-facet-selector {
          margin-top:1em;
        }

      }
    }

  }

  .custom-filter-form {

    .row {
      margin-bottom:.5em;
    }

  }


  .search-results {

    .pagination-top .pagination {
      margin-top:0;
    }

    .search-result {
      padding:.5em .5em 0 .75em;
      margin-bottom:.5em;

      .thumbnail-wrapper {

        margin-bottom:-.5em;

        .thumbnail {
          margin-bottom:.2em;
        }
      }
    }

    .search-result:nth-child(2n) {
      background: #f5f5f5;
    }

    .search-result-summary {
      padding-bottom:1.5em;
      .title-display {
        word-break: break-word;
      }
    }

    .footer-label {
      display:inline-block;
      position: relative;
      top: -1em;
      margin-bottom: -1em;
    }

  }

}

.facet_selector {

  .facet_search_results {

    .sort-switcher {
      font-size:.9em;
      border-bottom:1px solid #e5e5e5;
      padding-bottom:1em;
      margin-bottom:1em;
    }

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

}

.digital-object-ordered-child-editor {

  .manage-children-heading {
    margin-bottom:1em;
  }

  .ordered-child {
      padding:1em;
      margin-bottom:.5em;

      .thumbnail {
        max-height: 100px;
        width:auto;
        margin-bottom:0;
      }
   }

   .actions {
    margin-top:1.5em;
   }


}

#digital-object-asset-upload {
  
  .upload-files-table {
    word-break: break-word;
  }
  
  .digital-object-asset-upload-form {
    
    .browser-upload {
      margin-top:1em;
    }
  
    .upload-drop-zone {
  
      position:relative;
      overflow:hidden;
      font-size:1.5em;
      padding:2em;
      border:2px dashed #ccc;
      color:#ccc;
      margin-bottom:1em;
  
      .asset-upload-file-input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
      }
  
    }
  
    .fileinput-button {
        position:relative;
        overflow:hidden;
      }
  
    .extended-progress-info {
      margin-bottom:1em;
    }
  
  }
  
  .uploaded-files {
    
  }
}

#digital-object-media-view {
  width:100%;
  height:100%;
  border:none;
}

#remove-parent-form {
  ul {
    list-style: none;
    padding:0;
  }
}
