@import '../src/styles/variables';
@import '../src/styles/react-select-customizations';
@import '../src/styles/global-loading-bar';
@import 'bootstrap';

.letter-spacing-wide {
  letter-spacing: 0.4px;
}
