{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "es2020": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign": ["error", { "ignorePropertyModificationsFor" : ["draft"] } ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", { "code": 120 }]
  }
}
