{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign": ["error", { "ignorePropertyModificationsFor" : ["draft"] } ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", { "code": 120 }]
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@hyacinth_v1", "./app/javascript/hyacinth_v1"]
       ]
     }
  }
}
