@media (min-width: 992px) {
    #sign-in-box-container {
        float:right;
    }
}

#sign-in-box h3 {
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
}

#sign-in-box {
    border:1px solid #ddd;
    padding:10px 20px 10px;
    margin-bottom:15px;
}

#sign-in-box .btn {
    margin-bottom:5px;
}
