@media (min-width: 992px) {
    #sign-in-box-container {
        float:right;
    }
}

#sign-in-box .sign-in-options .btn {

}

#sign-in-box {
    border:1px solid #ddd;
    padding:10px 20px 10px;
    margin-bottom:15px;
}

#sign-in-box .btn {
    margin-bottom:5px;
}
