<%
  //Passed params:
  //
  //dynamic_field_group
  //mode
  //dynamicFieldIdsToEnabledDynamicFields
%>


<div class="dynamic_field_group" data-string-key="<%= dynamic_field_group['string_key'] %>" data-is-repeatable="<%= dynamic_field_group['is_repeatable'] %>">

  <div class="dynamic_field_group_display_label">
    <span class="label_content"><%= dynamic_field_group['display_label'] %></span> <span class="label_counter"></span>

    <% if(mode == 'edit' && dynamic_field_group['is_repeatable']) { %>
    <div class="field-management-buttons">
      <a href="#" class="remove-dynamic-field-group btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></a>
      <a href="#" class="shift-dynamic-field-group-down btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-down"></span></a>
      <a href="#" class="shift-dynamic-field-group-up btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up"></span></a>
      <a href="#" class="add-dynamic-field-group btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></a>
    </div>
    <% } %>
  </div>

  <div class="dynamic_field_group_content">
    <% for(var j = 0; j < dynamic_field_group['child_dynamic_fields_and_dynamic_field_groups'].length; j++) { %>
      <%= Hyacinth.DigitalObjectsApp.DigitalObjectEditor.recursivelyRenderDynamicFieldOrDynamicFieldGroup(dynamic_field_group['child_dynamic_fields_and_dynamic_field_groups'][j], mode, dynamicFieldIdsToEnabledDynamicFields) %>
    <% } %>
  </div>
</div>
