<%
  //Passed params:
  //
  //dynamic_field_group
  //mode
  //dynamicFieldIdsToEnabledDynamicFields
%>
<div class="dynamic_field_group_display_label" data-associated-dfg-string-key="<%= dynamic_field_group['string_key'] %>"><%= dynamic_field_group['display_label'] %></div>

<div class="dynamic_field_group" data-string-key="<%= dynamic_field_group['string_key'] %>" style="padding-right:105px;">
  <div class="field-management-buttons pull-right" style="width:100px;margin-right:-105px;">
    <div class="btn-group pull-right" role="group" aria-label="add-remove-up-down">
      <% if(mode == 'edit') { %>
        <button type="button" class="btn btn-danger btn-xs remove-dynamic-field-group"><span class="glyphicon glyphicon-minus"></button>
      <% } %>
      <% if(mode == 'edit' && dynamic_field_group['is_repeatable']) { %>
        <button type="button" class="btn btn-default btn-xs shift-dynamic-field-group-down"><span class="glyphicon glyphicon-arrow-down"></span></button>
        <button type="button" class="btn btn-default btn-xs shift-dynamic-field-group-up"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="btn btn-success btn-xs add-dynamic-field-group"><span class="glyphicon glyphicon-plus"></button>
      <% } %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="dynamic_field_group_content">
    <% for(var j = 0; j < dynamic_field_group['child_dynamic_fields_and_dynamic_field_groups'].length; j++) { %>
      <%= Hyacinth.DigitalObjectsApp.DigitalObjectEditor.recursivelyRenderDynamicFieldOrDynamicFieldGroup(dynamic_field_group['child_dynamic_fields_and_dynamic_field_groups'][j], mode, dynamicFieldIdsToEnabledDynamicFields) %>
    <% } %>
  </div>
</div>
