<% if current_user.present? %>
  <h1 class="page-title">Unauthorized</h1>

  <p>You do you not have permission to view this page.</p>
<% else %>
  <h1 class="page-title">Not Signed In</h1>

  <p>You must be signed in to view this page.  <%= link_to('Click here', root_path) %> to sign in.</p>

  <script>
    //If we're here, it's possible that the user came to this page with a hash in the url.
    //Store the hash so that it can be used once the user has successfully logged in.
    if (window.location.hash > 0) {
      Hyacinth.createCookie('hash_at_login', window.location.hash.substring(1))
    }
  </script>
<% end %>
