<h1>Process file <%= @import_filename %> !</h1>

<% if @array_of_digital_object_data.empty? %>
<p> Array is empty </p>
<% end %>

<% @array_of_digital_object_data.each do |digital_object_data| %>
   <p>
     About to process a digital object
     <%= digital_object_data.inspect %>
   </p>
<% end %>


