<%
  //Passed params:
  //
  //search_response
%>
<% Hyacinth.ContextualNav.setNavTitle('Digital Objects'); %>
<% Hyacinth.ContextualNav.setNavItems([{label: 'New Digital Object', url: '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'new_setup'})}]); %>

<div id="digital-object-search">Loading search results&hellip;</div>