<%
  //Passed params:
  //
  //digitalObject
%>

<h1>Transcript for <%= digitalObject.digital_object_type['display_label'] %>: <%- digitalObject.getTitle() %></h1>
<strong>Project:</strong> <%= digitalObject.getProject()['display_label'] %>
<br />
<strong>PID:</strong> <%= digitalObject.getPid() %>
<hr />

<div id="digital-object-captions-editor"></div>
