<% Hyacinth.ContextualNav.setNavTitle('&laquo; Cancel Digital Object Creation', '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'index'})); %>
<% Hyacinth.ContextualNav.setNavItems([]); %>

<div id="digital-object-editor"></div>
