<%
  //Passed params:
  //
  //digitalObject
%>
<% Hyacinth.ContextualNav.setNavTitle('&laquo; Back', '#' + Hyacinth.DigitalObjectsApp.paramsToHashValue({controller: 'digital_objects', action: 'show', pid: Hyacinth.DigitalObjectsApp.params['pid']})); %>
<% Hyacinth.ContextualNav.setNavItems([]); %>

<div id="digital-object-publish-target-fields-editor"></div>
