<h1>XML Datastreams</h1>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>String key</th>
      <th>Display label</th>
    </tr>
  </thead>

  <tbody>
    <% @xml_datastreams.each do |xml_datastream| %>
      <tr>
        <td><%= link_to xml_datastream.string_key, edit_xml_datastream_path(xml_datastream) %></td>
        <td><%= xml_datastream.display_label %></td>
      </tr>
    <% end %>
  </tbody>
</table>
