<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Submitted at</th>
      <th>Submitted by</th>
    </tr>
  </thead>

  <tbody>
    <% @import_jobs.each do |import_job| %>
      <tr>
        <td><%= link_to import_job.name, import_job_path(import_job) %></td>
        <td><%= import_job.success? ? 'Successfully Completed' : 'Incomplete' %></td>
        <td><%= import_job.created_at.localtime %></td>
        <td><%= import_job.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
