<%= render 'import_export_csv_nav' %>

<% if @import_job && @import_job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@import_job.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @import_job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form' %>
