<h1 class="page-title">Welcome to Hyacinth!</h1>

<div class="row">
  <div id="sign-in-box-container" class="col-md-4">
    <div id="sign-in-box">
        <h2 class="h3">Sign In Options</h2>
        <div>
          <div>
            <h3 class="h4">Single Sign On</h3>
            <p><%= link_to('Log in with CAS', user_do_cas_login_path, :class => 'btn btn-primary btn-sm btn-block') %></p>
          </div>
          <%= render "devise/shared/links" %>
          <div>
            <h3 class="h4">API Access</h3>
            <p>Once you're logged in, you can additionally create an API key for your user account and use that to make programmatic API requests.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-8">
    <p>Hyacinth is a Project-based system for managing Digital Objects.</p>
    <p>Projects contain three different types of Digital Objects:</p>
    <ul>
      <li>Items - Single metadata records</li>
      <li>Assets - File resource and associated file metadata</li>
      <li>Groups - Collections of Items or other Groups</li>
    </ul>
    <p>Hyacinth allows users to define any number of custom metadata fields for each Digital Object type listed above.</p>
    <p>It's really cool.</p>
    </p>
  </div>
</div>
