<div class="authorized_term_selector">
  <div class="authorized_term_search">
    <input class="form-control input-sm authorized_term_search_q" name="q" type="text" placeholder="Search by value or URI.  Suggestions appear after three or more characters." autocomplete="off">
    <div class="authorized_term_search_results"></div>
  </div>

  <div class="authorized_term_adder">
    
    <%
      fields_and_display_labels = [
        {name: 'term[value]', display_label: 'Value'},
        {name: 'term[uri]', display_label: 'URI'},
        //{name: 'another_field1', display_label: 'Another Field 1'},
        //{name: 'another_field2', display_label: 'Another Field 2'},
      ]
    %>

    <form class="add_authorized_term_form">
      
      <div class="errors"></div>
      
      <div class="row field">
        <div class="col-md-2">
          Type
        </div>
        <div class="col-md-10">
          <select name="term[type]" class="form-control input-sm term-type-select">
            <option value="external">External</option>
            <option value="local">Local</option>
            <option value="temporary">Temporary</option>
          </select>
        </div>
      </div>
      
      <div class="term_fields"></div>

      <div>
        <button type="submit" class="btn btn-primary btn-sm pull-right add_authorized_term_form_submit_button">Add Term</button>
        <button class="btn btn-link btn-sm pull-right back_to_term_search">&laquo; Back To Term Search</button>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>

</div>
