<h1>Publish Targets</h1>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Display Label</th>
      <th>PID</th>
    </tr>
  </thead>

  <tbody>
    <% @publish_targets.each do |publish_target| %>
      <tr>
        <td><%= link_to publish_target.display_label, edit_publish_target_path(publish_target) %></td>
        <td><%= publish_target.pid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
