$form-group-margin-bottom: 1rem !default;

// Default bootswatch pulse font size is too small, so we'll increase it.
$font-size-base: 0.9375rem !default;

$breadcrumb-padding-y: .45rem !default; // Reducing the padding

@import "~bootswatch/dist/pulse/variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/pulse/bootswatch";

body {}

.text-orange {
  color: #c78203;
}

// Lightening contextual-navbar
nav.contextual-navbar {
  background-color: #2e2b35 !important;
}
.ace_editor {
  border: 1px solid #ddd;
}

.dropdown-header {
  padding: 0rem .5rem;
}

.form-group.row {
  margin-bottom: .5rem
}

@media (min-width: 576px) {
  .float-right-form-label {
    text-align: right
  }
}

.digital-object-interface {
  font-size: .9rem
}

.digital-object-interface, {
  .form-control {
    @extend .form-control-sm;
  }

  .form-group {
    margin-bottom: .25rem;
  }

  .card {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}


.term-search-form {
  .form-control {
    @extend .form-control-sm;
  }
}
// Reducing padding for Cards.
// .card {
//   margin-bottom: 1rem;
// }
.card-header {
  font-weight: 500;
  padding: 0.25rem .5rem;
}

.card-body {
  padding: .5rem;
}

.field-group-header-button {
  padding: 0.05rem 0.35rem;
  margin-left: .25rem;
}

// Making progress bars larger
.progress {
  height: 1.3rem;
  font-size: .9rem;
}

// Adding rounded border to tabs
.nav-tabs {
  border-bottom: $nav-tabs-border-width solid #c6b6e2;

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    @include hover-focus {
      border-color: lighten(#c6b6e2, 10);
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link,
  .nav-link.active, {
    border-width: 1px 1px 0 1px;
  }

  .nav-link.active {
    border-color: #c6b6e2;
  }

  .nav-link:hover,
  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-bottom: none;
  }
}
