pre.diff-view {
  background: transparent;
  white-space: normal;
  ul {
    list-style: none;
    padding: 0;
    li {
      white-space: pre;
    }
  }
  del {
    text-decoration: none;
    background-color: #ff8888;
  }
  ins {
    text-decoration: none;
    background-color: #88ff88;
  }
}

.assignment-note-toggle {
  padding:0;
}
