// Place all the styles related to the DigitalObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#digital-object-editor {

  .digital-object-editor-header {
    .form-group {
      margin-bottom:0px;
    }

    .digital-object-summary {
      word-wrap: break-word;
    }
  }

  .dynamic_field_group_category_label {
    margin:.75em 0 .5em 0;
  }

  .editor-form > .dynamic_field_group_content {
    border:0;
    padding:0;
  }

  .editor-form {
    .form-navigation-dropup {
      position:fixed;
      right:20px;
      bottom:20px;
      z-index:999;
    }
  }

  .dynamic_field_group + .dynamic_field_group {
    .dynamic_field_group_content {
      border-top-width:0px;
    }

    .field-label.at-least-one-required::after {
      content: "" !important;
    }

  }

  .dynamic_field_group_content {
    padding:.5em;
    border:1px solid #ddd;
    border-width:2px;
    border-radius:0px 3px 3px 3px;


    /* Alternating colors for nested dynamic_field_group_content elements */
    /*
    .dynamic_field_group_content {
      background-color: #fff;
      .dynamic_field_group_content {
        background-color: #f2f2f2;
        .dynamic_field_group_content {
          background-color: #fff;
          .dynamic_field_group_content {
            background-color: #f2f2f2;
          }
        }
      }
    }
    */

    .dynamic_field_group_display_label {

      font-weight:bold; /* Redundancy for windows rendering */
      font-weight:500;
      display:inline-block;
      font-size:1.1em;
      margin-top:.5em;
      border:2px solid #ddd;
      border-width: 2px 2px 0px 2px;
      border-radius:3px 3px 0px 0px;
      padding:.25em .5em;
      background: #eee;
    }

    .dynamic_field.readonly-display {
      .field-label {
        position:relative;
        top:0px;
        margin-bottom:0;
      }
    }

    .dynamic_field {
        padding:.25em .25em;

        .field-label {
          position:relative;
          top:5px;

          margin-bottom:.5em;
          display:inline-block;
          font-size:.95em;
          font-weight:bold; /* Redundancy for windows rendering */
          font-weight:500;
        }

        .readonly-display-value {
          font-size:.95em;
        }
    }

    .dynamic_field .field-label.at-least-one-required::after {
      content: " *"
    }

  }
}


.authorized_term_selector {

  .add_new_authorized_term {
    margin-bottom:1em;
  }

  .authorized_term_search_q {
      margin-bottom:1em;
    }

  .authorized_term_search_results {

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

  .authorized_term_adder {
    ul.errors {
      margin:0;
      padding-left:1em;
    }
  }
}

/**********
 * SEARCH *
 **********/

.result-count-and-sort-options {
  background-color: #f5f5f5;
  border:1px solid #eee;
  padding:.5em .5em .5em 1em;
  margin-bottom:1.5em;
}

.digital-object-search {

  .query-constraints {
    margin-bottom:1.5em;
  }

  .facets {

    .facet-heading {
      margin-top:0px;
      padding:0 0 .4em 0;
      border-bottom:1px solid #ddd;
      margin-bottom:.2em;
    }

    .facet-group {

      border-bottom:1px solid #ddd;
      padding:.25em 0 .35em;
      margin:.25em 0;

      .facet-group-heading a {
        font-weight:bold;
        font-weight:500;
        color:#222;

        .facet-display-label {
          display:inline-block;
          margin:2px 0px;
        }

      }

      .facet-value-list {
        font-size:.9em;
        padding:1em 0;

        .count {
          margin-right:3px;
        }

        .show-facet-selector {
          margin-top:1em;
        }

      }
    }

  }

  .custom-filter-form {

    .row {
      margin-bottom:.5em;
    }

  }


  .search-results {

    .img-responsive.thumbnail {
      margin-bottom:0;
    }

    .pagination-top .pagination {
      margin-top:0;
    }

    .search-result {
      padding:.5em .5em .5em .75em;
      margin-bottom:.5em;
    }

    .search-result:nth-child(2n) {
      background: #f5f5f5;
    }

    .search-result-summary {
      padding-bottom:1.5em;
    }

    .footer-label {
      position: relative;
      top: -1.5em;
      margin-bottom: -1.5em;
    }

  }

}

.facet_selector {

  .facet_search_results {

    .sort-switcher {
      font-size:.9em;
      border-bottom:1px solid #e5e5e5;
      padding-bottom:1em;
      margin-bottom:1em;
    }

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

}

.digital-object-ordered-child-editor {

  .manage-children-heading {
    margin-bottom:1em;
  }

  .ordered-child {
      padding:1em;
      margin-bottom:.5em;

      img.thumbnail {
        max-height: 100px;
        width:auto;
        margin-bottom:0;
      }
   }

   .actions {
    margin-top:1.5em;
   }


}

.digital-object-asset-upload-form {

  margin-top:1.5em;

  .upload-drop-zone {

    position:relative;
    overflow:hidden;
    font-size:1.5em;
    padding:2em;
    border:2px dashed #ccc;
    color:#ccc;
    margin-bottom:1em;

    .asset-upload-file-input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }

  }

  .fileinput-button {

      position:relative;
      overflow:hidden;


    }

  .extended-progress-info {
    margin-bottom:1em;
  }

}

/*
.thumb-image {
  background-color:#fff;
  border:1px solid #ccc;
  position:relative;
}

.thumb-image,
.thumb-image a.thumb-link {
  display:inline-block;
  height:104px !important;
  width:104px !important;
}

.thumb-image .image-container {
  width:102px;
  height:102px;
}

.thumb-image .image-container {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.thumb-image img {
  max-width:100px;
  max-height:100px;
  display:inline-block;
  background-color:#fff;
}
.thumb-image,
.thumb-image img {
  border-radius:3px;
}

.thumb-image a.zoom-link {
  display:none;
  position:absolute;
  bottom:0px;
  right:0px;
}

.thumb-image:hover a.zoom-link {
  display:inline-block;
}

.multi-asset-thumbs-container .thumb-image {
  margin-right:2px;
  margin-bottom:2px;
}

.dynamic_field_group_heading {
  color: #a46a00;
}

#digital_object_form .dynamic_field_group_heading {
  margin-top:30px;
  margin-bottom:30px;
}

.dynamic_attribute_property {
  margin-bottom:5px;
}
.dynamic_attribute_property:last-child {
  margin-bottom:0px;
}

.dynamic_attribute_property .select-value-addition-label {
  display:inline-block;
}

.dynamic_attribute_property_label,
.dynamic_attribute_property .checkbox,
.dynamic_attribute_property .select-value-addition-label {
  padding-top:5px;
}

.dynamic_attribute_property_value {
  padding-top:6px;
  font-size:.9em;
}

.dynamic_attribute_content {
  background-color: #eee;
  border-radius:0px;
  padding:7px;
  padding-left:10px;
  border:solid #ddd;
  border-width:1px 2px;
}

.error-highlight .dynamic_attribute_content {
  border-color:#A94442;
  border-width:2px;
}

#digital_object_form #error_explanation {
  margin-top:30px;
}

.reorder-child-digital-objects-link {
  margin-bottom:12px;
}

.show_view .dynamic_attribute_content {
  background-color: #fff;
}

.dynamic_attribute:first-child .dynamic_attribute_content {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-top-width:2px;
}

.dynamic_attribute:last-child .dynamic_attribute_content {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-width:2px;
}

#digital_object_show_and_edit_quick_nav {
    position:fixed;
    bottom:10px;
    right:10px;
}

*/

/* Search Results */

/*

#digital_object_search .pagination-top .pagination {
  margin-top: 0px;
}

#digital_object_search .pagination-bottom .pagination {
  margin-bottom: 10px;
}

#digital_object_search_form .facet_pill {
  margin:3px 0px;
}

#digital_object_search_form .search_input_wrapper {
  margin-bottom:10px;
}

#digital_object_search_results_summary {
  margin-top:10px;
}

#digital_object_search_results .digital_object_search_result {
  padding:10px;
  font-size:13px;
}

#digital_object_search_results .digital_object_search_result .labels {
  margin-top:5px;
}

#digital_object_search_results .digital_object_search_result:nth-child(2n+1) {
  background-color:#F2F2F2;
  border-radius:5px;
}

#digital_object_search_results .digital_object_search_result .result-heading {
  font-size:1.1em;
  font-weight:bold;
  margin-bottom:5px;
}

#digital_object_facets .facet_category {
  margin-top: 0px;
  background-color: #ddd;
  padding: 5px 6px;
  border-radius: 5px;
}

#digital_object_facets .facet_category_content {
  margin-bottom: 10px;
  font-size: 13px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 2px 4px;
  border-radius: 5px;
}
*/
