// Place all the styles related to the DigitalObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#digital-object-editor {

  .digital-object-editor-header {
    .form-group {
      margin-bottom:0px;
    }

    .digital-object-summary {
      word-wrap: break-word;
    }

    .thumbnail {
      margin: 0 auto .2em;
    }

    .child-digital-object-preview {
      table  {
        width:100%;
      }
      .preview-heading {
        font-size: 13px;
        margin:.5em .5em 1em;
        padding-bottom:.75em;
        border-bottom:1px solid #ddd;
      }
    }
  }

  .dynamic_field_group_category_label {
    margin:.75em 0 .5em 0;
  }

  .editor-form > .dynamic_field_group_content {
    border:0;
    padding:0;
  }

  .editor-form {
    .form-navigation-dropup {
      position:fixed;
      right:20px;
      bottom:20px;
      z-index:999;
    }
  }

  .dynamic_field_group + .dynamic_field_group {
    .dynamic_field_group_content {
      border-top-width:0px;
    }

    .field-label.at-least-one-required::after {
      content: "" !important;
    }

  }

  .dynamic_field_group_content {
    padding:.5em;
    border:1px solid #ddd;
    border-width:2px;
    border-radius:0px 3px 3px 3px;


    /* Alternating colors for nested dynamic_field_group_content elements */
    /*
    .dynamic_field_group_content {
      background-color: #fff;
      .dynamic_field_group_content {
        background-color: #f2f2f2;
        .dynamic_field_group_content {
          background-color: #fff;
          .dynamic_field_group_content {
            background-color: #f2f2f2;
          }
        }
      }
    }
    */

    .dynamic_field_group_display_label {

      font-weight:bold; /* Redundancy for windows rendering */
      font-weight:500;
      display:inline-block;
      font-size:1.1em;
      margin-top:.5em;
      border:2px solid #ddd;
      border-width: 2px 2px 0px 2px;
      border-radius:3px 3px 0px 0px;
      padding:.25em .5em;
      background: #eee;
    }

    .dynamic_field.readonly-display {
      .field-label {
        position:relative;
        top:0px;
        margin-bottom:0;
      }
    }

    .dynamic_field {
        padding:.25em .25em;

        .field-label {
          position:relative;
          top:5px;

          margin-bottom:.5em;
          display:inline-block;
          font-size:.95em;
          font-weight:bold; /* Redundancy for windows rendering */
          font-weight:500;
        }

        .readonly-display-value {
          font-size:.95em;
        }
    }

    .dynamic_field .field-label.at-least-one-required::after {
      content: " *"
    }

  }
}


.authorized_term_selector {

  .add_new_authorized_term {
    margin-bottom:1em;
  }

  .authorized_term_search_q {
      margin-bottom:1em;
    }

  .authorized_term_search_results {

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

  .authorized_term_adder {
    ul.errors {
      margin:0;
      padding-left:1em;
    }
  }
}

/**********
 * SEARCH *
 **********/

.result-count-and-sort-options {
  background-color: #f5f5f5;
  border:1px solid #eee;
  padding:.5em .5em .5em 1em;
  margin-bottom:1.5em;
}

.digital-object-search {

  .query-constraints {
    margin-bottom:1.5em;
  }

  .facets {

    .facet-heading {
      margin-top:0px;
      padding:0 0 .4em 0;
      border-bottom:1px solid #ddd;
      margin-bottom:.2em;
    }

    .facet-group {

      border-bottom:1px solid #ddd;
      padding:.25em 0 .35em;
      margin:.25em 0;

      .facet-group-heading a {
        font-weight:bold;
        font-weight:500;
        color:#222;

        .facet-display-label {
          display:inline-block;
          margin:2px 0px;
        }

      }

      .facet-value-list {
        font-size:.9em;
        padding:1em 0;

        .count {
          margin-right:3px;
        }

        .show-facet-selector {
          margin-top:1em;
        }

      }
    }

  }

  .custom-filter-form {

    .row {
      margin-bottom:.5em;
    }

  }


  .search-results {

    .pagination-top .pagination {
      margin-top:0;
    }

    .search-result {
      padding:.5em .5em 0 .75em;
      margin-bottom:.5em;

      .thumbnail-wrapper {

        margin-bottom:-.5em;

        .thumbnail {
          margin-bottom:.2em;
        }
      }
    }

    .search-result:nth-child(2n) {
      background: #f5f5f5;
    }

    .search-result-summary {
      padding-bottom:1.5em;
    }

    .footer-label {
      display:inline-block;
      position: relative;
      top: -1em;
      margin-bottom: -1em;
    }

  }

}

.facet_selector {

  .facet_search_results {

    .sort-switcher {
      font-size:.9em;
      border-bottom:1px solid #e5e5e5;
      padding-bottom:1em;
      margin-bottom:1em;
    }

    .paging {
      margin-bottom:1em;
    }

    .paging:first-child {
      margin-top:0;
    }

    .paging:last-child {
      margin-top:1em;
      margin-bottom:0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom:5px;
      }

      li:last-child {
        margin-bottom:0em;
      }

    }
  }

}

.digital-object-ordered-child-editor {

  .manage-children-heading {
    margin-bottom:1em;
  }

  .ordered-child {
      padding:1em;
      margin-bottom:.5em;

      .thumbnail {
        max-height: 100px;
        width:auto;
        margin-bottom:0;
      }
   }

   .actions {
    margin-top:1.5em;
   }


}

.digital-object-asset-upload-form {

  margin-top:1.5em;

  .upload-drop-zone {

    position:relative;
    overflow:hidden;
    font-size:1.5em;
    padding:2em;
    border:2px dashed #ccc;
    color:#ccc;
    margin-bottom:1em;

    .asset-upload-file-input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }

  }

  .fileinput-button {

      position:relative;
      overflow:hidden;


    }

  .extended-progress-info {
    margin-bottom:1em;
  }

}

#digital-object-media-view {
  width:100%;
  height:100%;
  border:none;
}

#remove-parent-form {
  ul {
    list-style: none;
    padding:0;
  }
}
