version: "3.9"

# Although a name isn't required for docker to work, we want to explicitly specify it so we know
# which prefix is used for the volumes that we create.
name: 'hyacinth2-test'

volumes:
  redis-data:
  solr-cores:
  fedora-install-dir:
services:
  redis:
    build: ./redis
    restart: always
    ports:
      - '7379:6379'
    volumes:
      - redis-data:/data
  solr:
    build: ./solr
    restart: always
    ports:
      - '9983:8983'
    volumes:
      - solr-cores:/data
    environment:
      # In a Docker environment we enable the analysis-extras module via SOLR_OPTS, but in a production
      # environment we're more likely to set `SOLR_MODULES=analysis-extras` in solr.in.sh.
      - SOLR_OPTS=-Dsolr.modules=analysis-extras
  fedora:
    build: ./fedora
    restart: always
    env_file:
      - ./fedora.test.env
    ports:
      - '9080:8080'
    volumes:
      - fedora-install-dir:/opt/fedora
      - type: bind
        source: ../spec/fixtures
        target: /opt/fixtures
      - type: bind
        source: ./fedora/apache-http
        target: /opt/s3-libs/apache-http
      - type: bind
        source: ./fedora/awssdk
        target: /opt/s3-libs/awssdk
      - type: bind
        source: ./fedora/cul
        target: /opt/s3-libs/cul
