development:
  solr_url: http://localhost:8983/solr/hyacinth
  default_pid_generator_namespace: cul
  digital_object_data_directory: <%= Rails.root.join('tmp', 'development', 'data') %>
  default_resource_storage_locations:
    main:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'development', 'resources')}" %>
      cloud:
        base: 's3://example-dev-bucket/hyacinth/local_development/resources'
    service:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'development', 'resources')}" %>
      cloud:
        base: 's3://example-dev-bucket/hyacinth/local_development/resources'
    access:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'development', 'resources')}" %>
      cloud:
        base: 's3://example-dev-bucket/hyacinth/local_development/resources'
    poster:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'development', 'resources')}" %>
      cloud:
        base: 's3://example-dev-bucket/hyacinth/local_development/resources'
  upload_directory: <%= Rails.root.join('tmp', 'development', 'upload') %>
  csv_export_directory: <%= Rails.root.join('tmp', 'development', 'csv_exports') %>
  processed_csv_import_directory: <%= Rails.root.join('tmp', 'development', 'processed_csv_imports') %>
  publish_target_api_key_encryption_key: some_encryption_key
  treat_fedora_resource_index_updates_as_immediate: false
  queue_long_jobs: false
  time_zone: America/New_York
  solr_commit_after_each_csv_import_row: true
test:
  solr_url: http://localhost:9983/solr/hyacinth
  default_pid_generator_namespace: cul
  digital_object_data_directory: <%= Rails.root.join('tmp', 'test', 'data') %>
  default_resource_storage_locations:
    main:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'test', 'resources')}" %>
      cloud:
        base: 's3://example-test-bucket/hyacinth/local_test/resources'
    service:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'test', 'resources')}" %>
      cloud:
        base: 's3://example-test-bucket/hyacinth/local_test/resources'
    access:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'test', 'resources')}" %>
      cloud:
        base: 's3://example-test-bucket/hyacinth/local_test/resources'
    poster:
      file:
        base: <%= "file://#{Rails.root.join('tmp', 'test', 'resources')}" %>
      cloud:
        base: 's3://example-test-bucket/hyacinth/local_test/resources'
  upload_directory: <%= Rails.root.join('tmp', 'test', 'upload') %>
  csv_export_directory: <%= Rails.root.join('tmp', 'test', 'csv_exports') %>
  processed_csv_import_directory: <%= Rails.root.join('tmp', 'test', 'processed_csv_imports') %>
  publish_target_api_key_encryption_key: some_encryption_key
  treat_fedora_resource_index_updates_as_immediate: false
  queue_long_jobs: false
  time_zone: America/New_York
  solr_commit_after_each_csv_import_row: true
