@import '~bootstrap/dist/css/bootstrap';

body {}

#top-navbar {
  margin-bottom: 1em;
}

nav.contextual-navbar, .task-nav {
  background-color: #cfdbe67a !important;
}

.task-nav {
  background-color: #e9ecef !important;

}

.text-orange {
  color: #c78203;
}
