// $font-size-base: .95rem;

$form-group-margin-bottom: 1rem !default;

@import "~bootswatch/dist/flatly/variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/flatly/bootswatch";


body {}

#top-navbar {
  margin-bottom: 1em;
}

.text-orange {
  color: #c78203;
}

.dropdown-header {
  padding: 0rem .5rem;
}

.form-group.row {
  margin-bottom: .5rem
}

@media (min-width: 576px) {
  .float-right-form-label {
    text-align: right
  }
}

.digital-object-interface {
  font-size: .9rem
}

.digital-object-interface, {
  .form-control {
    @extend .form-control-sm;
  }

  .form-group {
    margin-bottom: .25rem;
  }

  .card {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}


.term-search-form {
  .form-control {
    @extend .form-control-sm;
  }
}
// Reducing padding for Cards.
// .card {
//   margin-bottom: 1rem;
// }
.card-header {
  font-weight: 500;
  padding: 0.25rem .5rem;
}

.card-body {
  padding: .5rem;
}
