<%
// local params:
// actionButtonLabel
%>

<div class="widget file-browser-widget">
  <div class="title">File Browser</div>
  <div class="content">
    <div class="input-group save-input-group">
      <input type="text" class="path-field form-control input-sm" placeholder="/path/to/file"/>
      <span class="input-group-btn"><button type="button" class="action-button btn btn-primary btn-sm">Go</button></span>
    </div>
    <div class="directory-listing-content"></div>
  </div>
</div>