<div id="widget-template-container"></div>

<script>

  $.ajax({
    url: '/digital_objects/data_for_editor.json',
    type: 'POST',
    data: {
      pid: '<%= @assignment.digital_object_pid %>'
    },
    cache: false
  }).done(function(data_for_editor){

    var digitalObject = Hyacinth.DigitalObjectsApp.DigitalObject.Base.instantiateDigitalObjectFromData(data_for_editor['digital_object']);
    var assignment = digitalObject.hasAssignment(Hyacinth.AssignmentTaskTypes.transcribe);

    $.ajax({
      url: '/assignments/' + assignment['id'] + '/changeset/proposed',
      type: 'GET',
      cache: false
    }).done(function(transcriptText){

      $('#widget-template-container').html(Hyacinth.DigitalObjectsApp.renderTemplate('digital_objects_app/digital_objects/manage_transcript.ejs', {digitalObject: digitalObject}));

      var transcriptEditor = new Hyacinth.DigitalObjectsApp.DigitalObjectTranscriptEditor('digital-object-transcript-editor', {
        digitalObject: digitalObject,
        transcriptText: transcriptText,
        mode: 'edit',
        assignment: assignment,
        isAssignedToCurrentUser: true
      });

    }).fail(function(){
      alert(Hyacinth.unexpectedAjaxErrorMessage);
    });
  }).fail(function(){
    alert(Hyacinth.unexpectedAjaxErrorMessage);
  });
</script>
