name: CI

on:
  push:
    branches: [ '*' ]

jobs:
  ci-rails-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.1.0']
        node: ['10', '12']
    env:
      RAILS_ENV: test
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true

    steps:
      - uses: actions/checkout@v2
      # Caching the solr download makes a huge difference. It can take up to 10 minutes to download.
      # Note that this action's caches will be evicted if not accessed for more than a week.
      - name: Cache Solr Download
        id: cache-solr-download
        uses: actions/cache@v2
        with:
          path: tmp/solr-download
          key: ${{ runner.os }}-solr-download
      - name: Install libxslt for nokogiri gem (required for version < 1.11)
        run: sudo apt-get install -y libxml2-dev libxslt-dev
      - name: Add --no-document option to .gemrc file to speed up bundle install
        run: "echo 'gem: --no-document' > ~/.gemrc"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Print bundler env info
        run: bundle env
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt-hotspot'
          java-version: '8'
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g yarn
      - run: yarn install --frozen-lockfile
      - name: Run CI task
        run: bundle exec rake hyacinth:ci WEBPACKER_RECOMPILE=true

  ci-javascript:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['10', '12']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g yarn
      - run: yarn install --frozen-lockfile
      - name: Run tests
        run: yarn run test
