<!DOCTYPE html>
<html>
<head>
  <title>Hyacinth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layout_shared/extra_head_includes' %>
</head>
<body class="content-only">

  <div id="main-content" class="container">
    <%= yield %>
  </div>

</body>
</html>
